:root {
  --purple: #5d30be;
  --course-box-dark-mode-clr: #31215377;
  --course-box-light-mode-clr: #f5efff7c;
  --st-name-tag-clr: #764b97;
  --darkpurple: #21133f;
  --darker: #4a1f64;
  --darkline: #a377ff;
  --lightest: #ece0ff;
  --lighter: #c9b1f0;
  --black: #1b191b;
  --white: #fff;
  --input-outline: #afaeae;
  --light-bg: #fbf5ff;
  --darkbg: #12022d;
  --border: 0.1rem solid rgb(229, 228, 226);
  --box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
  --btn-box-shadow: 10px 0 10px #7b02c6;
  --course-box-shadow: 10px 0 20px #9776c1;
}
